{% extends 'base.html'%}
{% load widget_tweaks %}

{% block title %}
{{block.super}} - Lista de Alunos
{% endblock title %}

{% block body %}

<div class="container">
    <h2>Alunos</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th scope="col">#</th>-->
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">User</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                    <tr>
                        <!--<th scope="row">#</th>-->
                        <td>{{ aluno.id }}</td>
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.cpf }}</td>
                        <td>{{ aluno.user }}</td>
                        <td>{{ aluno.email}}</td>
                        <td>
                            <a href="{% url 'aluno:edit_aluno' aluno.id %}" class="btn btn-primary btn-sm" style="background-color: blueviolet;">Editar</a>
                            <a href="{% url 'aluno:delete_aluno' aluno.id %}" class="btn btn-danger btn-sm confirm-delete" style="background-color: blueviolet;" id="deleteButton-{{ aluno.id }}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}
