{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %} " type="text/css" rel="stylesheet" media="screen,projection" />
    <title>Document</title>
</head>

<body >
    <nav class="navbar navbar-dark bg-primary" role="navigation" style="background-color: blueviolet;">
        <div class="nav-wrapper container" style="background-color: blueviolet;"><a id="logo-container" href="/" class="brand-logo" >Django IFCE</a>
            <ul class="right hide-on-med-and-down" style="background-color: blueviolet;">
                <li><a href="">Dashboard</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown">Aluno<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger2" href="#!" data-target="dropdown2">Professor<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="">Sair</a></li>
            </ul>
            <ul id="dropdown" class="dropdown-content">
                <li><a href="{% url 'aluno:add_aluno'  %}">Novo</a></li>
                <li><a href="{% url 'aluno:lista_alunos' %}">Lista</a></li>

                <ul id="nav-mobile" class="sidenav" style="background-color: blueviolet;">
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">Perfil</a></li>
                    <li><a href="">Sair</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i
                                class="material-icons right" style="background-color: blueviolet;">arrow_drop_down</i></a></li>
                    <li><a href="">Criar Conta</a></li>
                    <li><a href="">Login</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {% block body %}

    {% endblock body %}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });

        let dateObj = new Date();
        //DATEPICKER
        $(document).ready(function () {
            $('.datepicker').datepicker({
                yearRange: [1930, dateObj.getFullYear()],
                format: 'dd/mm/yyyy'
            });
        });
        //NAVBAR DROPDOWN

        //DROPDOWN ALUNO
        $(".dropdown-trigger").dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: false, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: true, // Displays dropdown below the button
            alignment: 'left' // 
            

        });
        //DROPDOWN PROFESSOR
        $(".dropdown-trigger2").dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: false, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: true, // Displays dropdown below the button
            alignment: 'center' // 

        });

        /* MODAL*/
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
</body>

</html>